.NavbarItem{
    display: flex;
    background-color: aqua;
    min-width: 9.5%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
}
.NavbarItemSelected{
    display: flex;
    background-color: gold;
    min-width: 9.5%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
}
.NavbarItemSelectedInner{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 95%;
    min-height: 80%;
    border-radius: 5px;
}