.homeContainer {
  display: grid;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
}

.homeContainerExpanded {
  display: grid;
  grid-template-rows: 3fr 9fr;
  height: 100vh;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 11fr 1fr;
}

.side{
  background-color: #56A3A6;;
}